{% load i18n %}
{% load pydici_filters %}
{% load static %}
<!DOCTYPE html><html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <meta name="description" content="pydici">
    <meta name="author" content="Sebastien Renard">
    <link rel="icon" type="image/png" href="{{ MEDIA_URL }}favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="{{ MEDIA_URL }}favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ MEDIA_URL }}favicon-96x96.png" sizes="96x96">

    <title>{% block title %}Pydici{% endblock %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker.min.css" integrity="sha512-34s5cpvaNG3BknEWSuOncX28vz97bRI59UnVtEEpFX536A7BtZSJHsDyFoCl8S7Dt2TPzcrCEoHBGeM4SUBDBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="{{ MEDIA_URL }}tables2/css/screen.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" type="text/css" media="screen" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.1.1/dist/select2-bootstrap-5-theme.min.css" type="text/css" media="screen" rel="stylesheet">

    <link href="https://cdn.datatables.net/v/bs5/jszip-3.10.1/dt-2.2.2/af-2.7.0/b-3.2.3/b-colvis-3.2.3/b-html5-3.2.3/date-1.5.5/fh-4.0.1/r-3.0.4/sp-2.3.3/datatables.min.css" rel="stylesheet" integrity="sha384-lDT/QPbkxpdHmMibtpr3/FEkji7saskRCvgOyZJ/jGdFVqESnW76GxenyRHIf4Bh" crossorigin="anonymous">


    {% block extracss %}{% endblock %}
    
    <link href="{{ MEDIA_URL }}css/pydici.css" rel="stylesheet">
    
  </head>

  <body {% block bodyattr %}{% endblock %}>

    {% block pydici-menu %}
        {% include "core/_pydici_menu.html" %}
    {% endblock %}

    <!-- JavaScript -->
    <script src="{{ MEDIA_URL }}js/jquery-3.7.0.min.js"></script>
    <script src="{{ MEDIA_URL }}js/htmx-2.0.3.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js" integrity="sha512-LsnSViqQyaXpD4mBBdRYeP6sRwJiJveh2ZIbW41EBrNmKxgr/LFZIiWT6yr+nycvhvauz8c2nYMhrP80YhG7Cw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {% if LANGUAGE_CODE == "fr-fr" %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/locales/bootstrap-datepicker.fr.min.js" integrity="sha512-fx3aztaUjb4NyoD+Tso5g7R1l29bU3jnnTfNRKBiY9fdQOHzVhKJ10wEAgQ1zM/WXCzB9bnVryHD1M40775Tsw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {% endif %}

    <script src="https://cdn.datatables.net/v/bs5/jszip-3.10.1/dt-2.2.2/af-2.7.0/b-3.2.3/b-colvis-3.2.3/b-html5-3.2.3/date-1.5.5/fh-4.0.1/r-3.0.4/sp-2.3.3/datatables.min.js" integrity="sha384-wCK80wH7wx8hLyUFcIbvYof+sJXFQgTFj+F8bd10SvWsKDpvOlvfddWcJ0+w41gw" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    {% block extrajs %}{% endblock %}
    
    
    {% block supercontent %}
        <div class="container-fluid">
            {% block messages %}
                {% include "core/_messages.html" %}
            {% endblock %}
            {% block content %}{% endblock %}
        </div>
        <div class="modal fade" id="dailyMessageModal" tabindex="-1" aria-labelledby="dailyMessageModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header text-white">
                        <h5 class="modal-title" id="dailyMessageModalLabel">
                            <i class="bi bi-megaphone"></i> Des nouvelles de l'ERP gaulois à taille humaine
                        </h5>
                    </div>
                    <div class="modal-body">
                        <h3 class="text-left mb-3">Pydici sur Kubernetes</h3>
                        <div id="dailyMessageContent">
                            <ul class="list-unstyled">
                                <li class="mb-2">
                                    <strong>J'ai finalement vu la lumière</strong></br>
                                    Elle est bleue, éclatante, j'ai finalement décidé de ne plus lui résister. Je ne pouvais pas lui résister, l'appel de Kubernetes était trop fort.</br>
                                    Je tenais à saisir l'opportunité offerte par ce changelog pour clamer haut et fort <strong>ma conversion totale et sans aucun doute à Kubernetes.</strong></br>
                                    Car j'ai douté, j'ai résisté, mais je me rends maintenant compte que ma vie était un mensonge.</br>
                                    Je ressentais un vide profond, une insatisfaction sur laquelle je n'arrivais pas à mettre le doigt. </br>
                                    Maintenant je sais, ce vide était l'absence de Kubernetes dans ma vie.</br></br>
                                    <strong>J'ai également décidé de déployer Pycici sur Azure</strong>, car je fais une confiance <strong>totale</strong> à Microsoft pour héberger les données les plus critiques qu'enioka puisse avoir.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="dontShowAgain">
                            Amen
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    <script type="text/javascript">
        const getCookieByName = (cookieName) => document.cookie.split('; ')
            .find((cookie) => cookie.split('=')[0] === cookieName)?.split('=')[1] || null;
        
        const setCookie = (name, value, days = 30) => {
            const expires = new Date();
            expires.setTime(expires.getTime() + (days * 24 * 60 * 60 * 1000));
            document.cookie = `${name}=${value}; expires=${expires.toUTCString()}; path=/; SameSite=Strict`;
        };
        
        $(document).ready(function() {
            // detect mobile devices using screen size
            const deviceType = Math.min(window.screen.width, window.screen.height) < 768 ? 'mobile' : 'desktop';
            const deviceTypeCookie = getCookieByName('deviceType')
            // update the device type if it has changed
            if (deviceTypeCookie === null || deviceTypeCookie !== deviceType) {
                document.cookie = 'deviceType=' + deviceType + '; SameSite=Strict';
            }
            
            // Gestion de la modal du message du jour
            const dailyMessageSeen = getCookieByName('dailyMessageSeen');
            const currentDate = new Date().toISOString().split('T')[0]; // Format YYYY-MM-DD
            const modalVersion = '2025-09-24'; // Version du message à changer quand on met à jour le contenu
            
            // Vérifier si on est sur la page d'accueil (URL racine ou index)
            const isHomePage = window.location.pathname === '/' || 
                              window.location.pathname === '' || 
                              window.location.pathname.endsWith('/core/') ||
                              window.location.pathname.includes('/core/index') ||
                              window.location.pathname.match(/^\/(index\.html?)?$/);
            
            if (isHomePage && (!dailyMessageSeen || dailyMessageSeen !== modalVersion)) {
                // Afficher la modal après 5 secondes
                setTimeout(function() {
                    const modalElement = document.getElementById('dailyMessageModal');
                    if (modalElement) {
                        const modal = new bootstrap.Modal(modalElement);
                        modal.show();
                    }
                }, 5000);
            }
            
            // Gérer le bouton "Ne plus afficher"
            $('#dontShowAgain').click(function() {
                setCookie('dailyMessageSeen', modalVersion, 30); // Cookie valide 30 jours
                $('#dailyMessageModal').modal('hide');
            });
            
            // Marquer comme vu quand la modal est fermée (même sans cliquer "Ne plus afficher")
            $('#dailyMessageModal').on('hidden.bs.modal', function () {
                if (!getCookieByName('dailyMessageSeen') || getCookieByName('dailyMessageSeen') !== modalVersion) {
                    // Si pas encore marqué comme "ne plus afficher", marquer comme vu pour cette session seulement
                    setCookie('dailyMessageSeen', modalVersion + '-session', 0.5); // Cookie valide 12h
                }
            });
        });
    </script>


   {% if debug %} 
        <script type="text/javascript">
        // Fix userswitch css to show it
        <!--
        $(document).ready(function() {

            $(".userswitch").css("top", "60px");
        });
        -->
        </script>
    {% endif %}

</body></html>
